:root {
  --main-text: rgb(46, 46, 46);
  --background: rgb(247, 247, 247);
  --green: rgb(61, 192, 61);
  --red: rgb(235, 51, 51);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
