.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 3em;
  color: var(--main-text);
  margin-bottom: .5em;
  margin-top: 0;
}

.inputForm {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.amountInput {
  width: 10%;
}

.incomeExpenseColumns {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.columnTitle {
  
}