.wrapper {
    background-color: rgb(235, 235, 235);
    width: 20em;
    height: 4em;
    border-radius: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    position: relative;
    cursor: pointer;
}

.wrapper:hover {
    background-color: rgb(214, 214, 214);
}

.wrapper:hover .icon {
    opacity: 1;
    transform: scale(1);
}

.icon {
    opacity: 0;
    transform: scale(0);
    color: var(--red);
    cursor: pointer;
    position: absolute;
    font-size: 2em;
    top: -17px;
    right: -17px;
    transition: .3s ease-out;
    filter: brightness(110%)
}

.text {
    font-size: 1.5em;
    font-weight: 500;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}